.bread-crumb {
    display: flex;
    gap: .625rem;
    margin-bottom: 1rem;
  }
  
  .bread-crumb a, .bread-crumb span {
    font-size: .7rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .125rem;
  }
  
  @media screen and (max-width: 600px) {
    .bread-crumb {
      gap: .25rem;
    }
  
    .bread-crumb a, .bread-crumb span {
      font-size: .6rem;
      letter-spacing: .125rem;
    }
  }
  